<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/all.css")
        title 個人網頁切版班2版
    body
        .header
            img(src="../img/bgc.png", alt="bgc")
            .info
                p Here’s
                h1 JOANNE
                p.subTitle
                    | Founder of “XXXD Official’’
                    br
                    | & Graphic Designer
                ul
                    li
                        a(href="#")
                            img(src="../img/be.svg", alt="be")
                    li
                        a(href="#")
                            img(src="../img/fb.svg", alt="fb")
                    li
                        a(href="#")
                            img(src="../img/ig.svg", alt="ig")
                    li
                        a(href="#")
                            img(src="../img/yt.svg", alt="yt")
        .about
            h2.title About
            img(src="../img/person.png", alt="person")
            ul
                li Joanne Chen
                li 1997/10/10
                li 
                    | National Hex School Normal University
                    br
                    | Department of Visual Design
            hr
            ul.experience
                li Founder of ‘’XXXD Official’’
                li Graphic Designer
                li Graphic Intern of Hex School
        .brand
            h2.title My Brand ‘’XXXD’’
            p.subTitle Just Keep XXXD Everyday
            p.content
                | 2020 年創立的個人服飾品牌
                br
                | 引領叛逆少年開啟與社會對話的窗口
                br
                | 主打概念潮流T-Shirt
            .container
                ul
                    li
                        img(src="../img/photo-1.png", alt="photo")
                    li
                        img(src="../img/photo-2.png", alt="photo")
                    li
                        img(src="../img/photo-3.png", alt="photo")
        .otherWork
            h2.title Other Works
            p.content
                | 2016-2020 年累積的作品
                br
                | 海報/廣告/攝影/LOGO/3D
            .container
                ul
                    li
                        img(src="../img/other1.png", alt="photo")
                        p 海報設計/2017
                    li
                        img(src="../img/other2.png", alt="photo")
                        p 海報設計/2018
                    li
                        img(src="../img/other3.png", alt="photo")
                        p 海報設計/2018
                    li
                        img(src="../img/other4.png", alt="photo")
                        p 概念攝影/2018
                    li
                        img(src="../img/other5.png", alt="photo")
                        p 概念攝影/2018
                    li
                        img(src="../img/other6.png", alt="photo")
                        p sasa 酒標設計/2019
                    li
                        img(src="../img/other7.png", alt="photo")
                        p 攝影創作/2018
                    li
                        img(src="../img/other8.png", alt="photo")
                        p 官網設計/2020
        .contact
            h2.title Contact
            ul.subTitle
                li Mail：
                    a(href="mailto:xxxd@hexschool.com") xxxd@hexschool.com
                li Phone Number：
                    a(href="tel:+886910123456") 0910123456
