.goTop {
    position: fixed;
    bottom: 2%;
    right: 2%;
    color: rgba(0, 204, 153, 0.5);
}

.socialMedia {
    background-color: #eee;

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            display: flex;

            &:first-child:after {
                content: "|";
                color: gray;
                padding: 5px 0px;
                margin: 3px;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 5px 0px;

        img {
            margin-right: 5px;
        }

        &:hover {
            font-weight: bold;
        }
    }

    .fb {
        color: $color-fb;
    }

    .twitter {
        color: $color-twitter;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Logo {
        background-image: url(../img/logo.png);
        display: block;
        width: 224px;
        height: 50px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }

    .nav {
        display: flex;

        a {
            display: block;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            color: $color-primary;

            position: relative;
            @include link-hover ($color-primary, 5px);
        }
    }
}